:root{
    --thing: 100;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}
li{
    float:left;
}
li a, .dropbtn{
    display:inline-block;
    text-align: center;
    color: white;
}
li.dropdown{
    display:inline-block;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color:red;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#f9f9f9;
}
.dropdown-content a{
    color:black;
    text-align:left;
}
.dropdown-content a:hover{
    background-color:yellow;
}
.dropdown:hover .dropdown-content{
    display:block
}
pattern #horiline {
    width: 100%;
}
p::after{
    counter-reset: uh var(--thing);
    content: counter(uh);
}
.abtn{
    position: fixed;
    top:20px;
    left:20px;
}