@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
   .rgbtext {
         background: linear-gradient(#f00,#0f0,#00f)
      }
   .top {
         text-align: center;
         font-size: 24px;
         font-family: "Rye", serif;
         animation: shake 500ms ease 0s infinite normal none;
      }
      #block{
         left:0px;
         height: 56px;
         background: #AAA;
         position: relative;
         width:100%;
         overflow: hidden;
      }
      .loowhat{
         width:100%;
         padding-top: 0px;
         margin: 0;
         font-size: 56px;
         color: rebeccapurple;
         white-space: nowrap;
         font-family: 'Imperial Script', cursive;
         text-transform: uppercase;
         font-weight: 300;
      }
      .lorem_ipsum {
         display: inline-block;
         animation: loop 60s linear 0s infinite normal none;
      }
      .lorem_ipsum2 {
         display: inline-block;
         animation: loop2 60s linear 0s infinite normal none;
         animation-delay: 30s;
      }
      ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: #333;
      }
      li {
         float: left;
      }
      li a{
         display: block;
         color: #f08;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
      }
      li a:hover {
         background-color: #111;
      }
      li a.active{
         background-color: cyan;
         color: darkgreen;
      }
      .fancy {
         font-family: 'Cutive Mono', monospace;
         font-size: 20px;
         position: sticky;
         top: 5px;
         z-index:1;
         }
      .fancy ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: #999;
      }
      .fancy li {
         float:left;
      }
      
      .fancy li a, .dropbtn {
         display: inline-block;
         text-align: center;
         text-decoration: none;
         color: #00f;
      }
      .fancy li a:hover, .dropdown:hover .dropbtn {
         background-color: red;
         color: #ff0;
         }
      .fancy li.dropdown {
         display: inline-block;
      }
      .fancy, .dropdown-content {
         display: none;
         position: sticky;
         background-color: #f9f9f9;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index: 1;
      }
      .fancy, .dropdown-content a {
         color: black;
         text-decoration: none;
         display: block;
         text-align: left;
      }
      .fancy, .dropdown-content a:hover {background-color: #f1f1a1;}
      .fancy, .dropdown:hover .dropdown-content {
         display: block;
      }
      @keyframes shake {
         0% {transform: translate(20px,15px)}
         10% {transform: translate(0px,15px)}
         20% {transform: translate(-10px,0px)}
         30% {transform: translate(-5px,-17px)}
         40% {transform: translate(-20px,-20px)}
         50% {transform: translate(-4px,-10px)}
         60% {transform: translate(17px,5px);}
         70% {transform: translate(-6px,18px);}
         80% {transform: translate(-15px,15px);}
         90% {transform: translate(8px,-10px);}
         100% {transform: translate(0px,0px)}
      }
      @keyframes loop {
         0% {transform: translateX(100%);}
         100% {transform: translateX(-100%);}
      }
      @keyframes loop2 {
         0% {transform: translateX(0%);}
         100% {transform: translateX(-200%);}
      }
.filler_text{
   font-size: 100px;
   white-space: warp;
}/* this will probably never be used */
.extremely_convenient{
   
}
