:root{
    
}
.vlq{
    display: inline;
}
#key{
    display:inline-block
}
.Main{
    position:absolute;
    top:156px;
    /*manual align lol*/
    left:0px;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-color:rgba(232,227,200,1);
    color:rgb(255,0,0);
    border-width:6px;
    border-color:magenta;
    display:block;
    z-index:1;
}
