@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* i should just nuke it and rebuild*/
/*nuked*/
.random_test{
  --ran-num: 0;
  --loop-count:0;
  font-size: calc(50px * var(--ran-num));
}
.random_test::after{
  content: var(--loop-count);
}
