@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
  
  .Main {
    width: 1760px;
    height: 990px;
    background-color: white;
  }

  @keyframes cc {
    to {
      background-color: white;
    }
  }
