@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* i should just nuke it and rebuild*/
/*nuked*/
.random_test{
  --ran-num: 0;
  --loop-count:0;
  font-size: calc(50px * var(--ran-num));
  display:none;
}
.animctrl{
  --kaboom: paused;
}
.random_test::after{
  counter-reset: loop var(--loop-count);
  content: counter(loop);
}
.frame{
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width:calc(100vw - 80px);
  height:56.26vh;
  background-color: rgba(255,255,255,0);
  border: 40px solid rgba(255,255,0,1);
  z-index: top;
}
.inframe{
  position: absolute;
  top: 0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: rgba(127,255,212,1);
  z-index: bottom;
}
svg {
  position:absolute;
}
.start{
  display:flex;
  --vert-shake: 0;
  --opac: 0;
  position: relative;
  margin-top:calc(25vh + (1px * var(--vert-shake)));
  justify-content: center;
  white-space: nowrap;
  font-weight: normal;
  font-size: 50px;
  font-family: 'Rubik Glitch', serif;
  color:black;
  text-shadow: 3px 3px 0px rgba(255,255,255,1),-3px 3px 0px white,-3px -3px 0px white,3px -3px 0px white;
  animation: startFadeIn 10s linear 0s 1 normal forwards;
  animation-play-state: var(--kaboom);
}
/*.start::after{
  counter-reset: test calc(var(--opac) * 0.5);
  content: counter(test);
}*/
@keyframes startFadeIn{
  0%{opacity: 0};
  30%{opacity: 1};
  99%{transform: translate(0px,0px)};
  100%{transform: translate(200%,0px) rotate(90deg)};
}/*did it work? idk really*/